#heady {
  background-color: #E9D599;
  width: 100vw;
  height:50vh;
  text-align: center;
  font-size:30px;

}



#ping {
  font-size: 30px;
  font-weight: bold;
}
#about{
  font-weight: bold;
  color: #E9D599;
  font-size: 15px;
}
#info{
  color: white;
  font-weight: bold;
}
#nav{
  background-color: #9EBD6E;
  height:80vh;
}
#game{
  background-image: url(../img/6.jpg);
  height: 99vh;
  width: 100vw
background-repeat: no-repeat;
}
#break{
  background-color: #D5D5D5
}
